<div id="<%= dom_id article %>">
  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= article.published %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= article.access %>
  </p>

  <p>
    <strong>Comments count:</strong>
    <%= article.comments_count %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= article.closed %>
  </p>

</div>
